@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  width: 100%;
  position: relative;
  
}

.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared */
.primary-color {
  color: #3A3A3A;
}

/* navbar */
header{
  margin-left: 120px;
  margin-right: 120px;
}
.logo {
  font-size: 45px;
  font-weight: bold;
}

.nav-content {
  font-size: 16px;
  font-weight: 600;
}

.search {
  width: 31px;
  height: 25px;
}

.shopping {
  width: 34px;
  height: 33px;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.nav-container {
  display: flex;
  gap: 34px;
}

/* banner */
.banner-text {
  font-size: 52px;
  font-weight: 700;
}

.lorem {
  font-size: 16px;
  font-weight: 600;
  margin-top: -30px;
}

.btn {
  width: 196px;
  height: 44px;
  border-radius: 41px;
  background: rgb(224, 44, 109);
  border: none;
  color: white;
  font-weight: 700;
  padding: 10px 24px;
  margin-top: 16px;
}
.camera{
  background-image: url('../images/Circle\ design.svg');
}
.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon{
  display: flex;
  gap: 61px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
/* grid */
.grid-text{
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
.grid-container{
  width: 329px;
  height: 476px;
  border-radius: 5px;
  box-shadow:0 0 40px 0 rgb(0,0,0,0.15);
  background: white
  
  


}
.grid-img{
  width: 300px;
  height: 296px;
  padding: 17px 15px 0 14px;
}
.grid-item{
  margin-left: 14px;

}
.text{
  font-size: 28px;
  font-weight: 500;
  margin-top: 1rem;
}
.doller{
  font-size: 24px;
  font-weight: 400;
  opacity: 0.87;

}
.checked{
  color: orange;
}
.text2{
  font-size:14px ;
  font-weight: bold;
  color: #787885;
  margin-top: -2px;
}
.star{
  margin-top: 0px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  margin-left: 120px;
   
}
.gap{
  margin-top: 100px;
}
/* feature */
.feature-img{
  width: 404px;
  height: 270px;
}
.banner-text2{
  font-size: 38px;
  color: #0A0826;
  
}
.feature{
  display: flex;
  gap: 96px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.footer{
  width: 100%;
  height: 200px;
  background-color:#0A0826;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product{
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-align: center;
}
.copyright{
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.833);
  text-align: center;
}